<h1>Searching result</h1>
<p *ngIf="!result"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="result">
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Searching Engine</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="result && result.length == 0">
      <td colspan="3">
        <label>No Searching result available</label>
      </td>
    </tr>
    <tr *ngFor="let res of result">
      <td>{{ res.keyword }}</td>
      <td>{{ res.source }}</td>
      <td *ngIf=" res.rank > 0 && res.rank <= 100">{{ res.rank }}</td>
      <td *ngIf=" res.rank == 0 || res.rank > 100">Not Found</td>
    </tr>
  </tbody>
</table>

